@{
    ViewBag.Title = "關於";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    本網站為交通時刻表。<br>
    相關資料來源為<a href="https://ptx.transportdata.tw/PTX/">公共運輸整合資訊流通服務平台 Public Transport data eXchange</a>。
</p>
