@{
    ViewBag.Title = "首頁";
}

<div class="jumbotron">
    <h1>交通時刻表</h1>
    <p>ASP.NET MVC 專案展示</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>使用 Web API</h2>
        <p>
            以下為可使用的 API，按下後以字串顯示查詢結果。
        </p>
        <p><a class="btn btn-default" href="/api/tratime"> 台鐵車站 (列出 10 站) </a></p>
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>